
html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}

.about{
    background: url(img/features-bg.png)no-repeat;
    background-size: cover;
    background-position: center;
}